.App-logo {
  text-align: center;
  font-family: "Playfair Display", serif;
  font-weight: 900;
  font-size: 40px;
  display: inline-block;
  margin: 0;
  text-decoration: none;
  color: #000;
  margin-right: auto;
}
.App-header {
  display: flex;
  padding: 1rem 3rem;
  border-bottom: 1px solid rgb(211, 211, 211, 0.7);
  margin-bottom: 3rem;
  align-items: center;
}
.App-header-Link {
  text-decoration: none;
  color: #000;
  font-family: "Lato", sans-serif;
  font-weight: 900;
  font-size: 20px;
  margin-right: 30px;
  transition: 0.2s all;
}
.App-header-Link:hover {
  color: #278090;
}
.Auth-link {
  font-weight: 700;
  font-size: 16px;
  margin-left: 60px;
  cursor: pointer;
}

.errormsg {
  line-height: 1.3;
  color: red;
  font-weight: 400;
  font-family: "Lato", sans-serif;
  text-align: center;
}
/* Search */

.search {
  width: 20%;
  position: relative;
  display: flex;
}

.searchTerm {
  width: 100%;
  border: 1px solid #2a2b2a;
  border-right: none;
  padding: 10px;
  outline: none;
  color: #9dbfaf;
  font-size: 1rem;
}

.searchTerm:focus {
  color: #000;
}

.searchButton {
  padding: 10px;
  border: 1px solid #2a2b2a;
  border-left: none;
  text-align: center;
  color: #000;
  cursor: pointer;
  font-size: 20px;
}

/* Search end */

/* Featured recipe  */
.featured-recipe {
  display: block;
  position: relative;
  transition: z-index 0s ease 0.2s;
  z-index: 1;
  text-decoration: none;
  margin: 8rem auto;
  width: 85%;
}
.featured-recipe:hover img {
  transform: scale(1.05);
}
.featuredrecipe__flexwrapper {
  align-items: center;
  display: flex;
  margin-left: auto !important;
  margin-right: auto !important;
  margin-bottom: 3rem;
}
.featuredrecipe__titlewrap {
  z-index: 100;
  position: absolute;
  padding: 1rem;
  width: 58.33333%;
  max-width: 75rem;
}
.featuredrecipe__titlewrap p {
  box-shadow: 1rem 0 0 #fe0, -1rem 0 0 #fe0;
  background: #fe0;
  padding: 0.5rem 0;
  display: inline-block;
  text-transform: uppercase;
  font-size: 0.875rem;
  line-height: 1.3;
  color: #222;
  font-weight: 900;
  font-family: "Lato", sans-serif;
}
.featuredrecipe__title {
  color: #222;
  font-size: 64px;
  line-height: normal;
  padding: 0.15rem 0;
  font-weight: 900;
  margin: 0;
  font-family: "Lato", sans-serif;
}
.featuredrecipe__title > span {
  box-shadow: 1rem 0 0 #fe0, -1rem 0 0 #fe0;
  background: #fe0;
}
.xs-mb1 {
  margin-bottom: 0.5rem;
}
.featuredrecipe__imgwrap {
  width: 48.66667%;
  margin-left: auto;
  cursor: pointer;
}
.featuredrecipe__img {
  position: relative;
  height: auto;
  overflow: hidden;
  width: 100%;
}
.featuredrecipe__img > img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  transform-origin: 50% 50%;
  transition: 0.2s ease-in-out;
  display: block;
  max-width: 100%;
}
/* Featured recipe end */

.recipes__subheading {
  font-family: "Lato", sans-serif;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 900;
  color: #f43192;
  display: block;
  padding: 0 3rem;
  line-height: 1.5;
}
.recipe__grid {
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 2rem;
  padding: 0 3rem;
}
.recipe {
  display: block;
  width: 300px;
  height: 300px;
  position: relative;
  transition: box-shadow 0.3s, transform 0.3s;
  margin-bottom: 0.625rem;
}
.recipe:hover {
  box-shadow: -0.425rem -0.425rem #66ced1;
  transform: translateX(0.425rem);
}

.recipe__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: opacity 0.4s linear;
}
.recipe__heading {
  font-family: "Lato", sans-serif;
  font-size: 1.25rem;
  line-height: 1.2;
  font-weight: 900;
  color: #000;
  padding-bottom: 0.625rem;
  display: block;
  text-decoration: none;
  transition: color 0.3s ease-in-out;
}
.recipe__heading:hover {
  color: #278090;
}
.singlerecipe__body {
  padding: 0 6rem;
  float: left;
  margin-right: 2%;
  width: auto;
}
.singlerecipe__heading {
  font-family: "Lato", sans-serif;
  font-size: 2.5rem;
  line-height: 1;
  font-weight: 900;
  color: #000;
  padding-bottom: 1rem;
  display: block;
}
.fridgelist {
  list-style: none;
  border: 1px solid black;
  border-bottom: none;
  text-align: center;
  padding: 0;
}
.fridgelist-wrapper {
  width: 40%;
}
.fridgelist-heading {
  text-align: center;
  font-family: "Lato", sans-serif;
  font-size: 2rem;
  line-height: 1;
  font-weight: 900;
  color: #000;
}
.delete-ingredient {
  margin-left: 1rem;
  color: red;
  cursor: pointer;
  display: inline-block;
  vertical-align: middle;
  font-size: 14px;
}
.ingredient-item {
  padding: 1rem 0;
  border-bottom: 1px solid grey;
}

/* Recipe details container */
.recipe-details-container {
  border: 0.0625rem solid #000;
  border-top: 0.625rem solid #278090;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(6.25rem, 1fr));
  grid-gap: 0.25rem;
  margin: 1.875rem 0;
}
.recipe-details-item {
  width: auto;
  align-items: middle;
  vertical-align: top;
  display: inline-block;
  margin-right: 0;
  border-right: 0.0625rem solid #000;
  text-align: center;
  font-weight: 900;
  padding: 1.875rem 0.625rem;
  text-transform: uppercase;
  font-family: "Lato", sans-serif;
  font-size: 0.8125rem;
  line-height: 1.2;
}
.recipe-details-item.total-time {
  border-right: none;
}
.yields-amount,
.prep-time-amount,
.cook-time-amount,
.total-time-amount {
  font-family: "Lato", sans-serif;
  font-size: 1.625rem;
  line-height: 1.2;
  color: #278090;
  padding-top: 0.625rem;
  display: block;
}
.yields-unit,
.recipe-time-unit {
  font-family: "Lato", sans-serif;
  font-size: 0.8125rem;
  line-height: 1.2;
  color: #000;
  font-weight: 400;
  vertical-align: baseline;
  padding-right: 0.25rem;
  margin-left: 0.25rem;
}
/* Recipe content */

.ingredients,
.directions {
  align-items: start;
  vertical-align: top;
  display: inline-block;
  margin-right: 0;
  width: 30%;
  color: #343434;
  font-family: Georgia, Times, Serif;
  font-size: 1.1875rem;
  line-height: 1.6;
}
.ingredients-header-title,
.directions-header-title {
  font-family: "Lato", sans-serif;
  font-size: 1.4375rem;
  line-height: 1.2;
  font-weight: 900;
  text-transform: uppercase;
  margin-bottom: 0.9375rem;
}

.ingredient-item,
.direction-lists li,
.recipe-tips {
  padding-bottom: 0.5rem;
}
.direction-lists ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.direction-lists li {
  margin: 0 0 0.75rem 2.875rem;
  padding: 0;
  counter-increment: step-counter;
  position: relative;
}
.direction-lists li:before {
  font-family: "Lato", sans-serif;
  font-size: 1.5rem;
  line-height: 1.2;
  font-weight: 900;
  color: #000;
  left: -2.875rem;
  width: 2rem;
  border-right: 0.1875rem solid #278090;
  padding-right: 0.25rem;
  content: counter(step-counter);
  position: absolute;
  text-align: center;
}
.recipe-wrapper {
  display: flex;
  justify-content: space-between;
}
.flexwrapper {
  display: flex;
  width: 80%;
  justify-content: space-between;
  align-items: center;
  margin-left: 3rem;
}

.add-heading {
  font-family: "Lato", sans-serif;
  font-weight: 900;
}
.addform-wrapper {
  display: flex;
}
.add-ingredient {
  width: 100%;
  border: 1px solid #2a2b2a;
  padding: 10px 50px;
  text-align: center;
  outline: none;
  color: #000;
  font-size: 1rem;
  display: inline-block;
  font-family: "Lato", sans-serif;
}
.add-button {
  display: inline-block;
  font-family: "Lato", sans-serif;
  margin-left: 20px;
  padding: 10px 50px;
  background: black;
  color: white;
  cursor: pointer;
  font-weight: 900;
  font-size: 1rem;
}

/* Auth pages start */
.auth-flexwrapper {
  display: flex;
}
.auth-bg {
  background: url(./images/authbg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 50vw;
  height: 100vh;
}
.signin__wrapper {
  padding: 1.875rem 0px;
  width: 50vw;
  flex: 0 0 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.signin__ContentWrapper {
  display: flex;
  flex-direction: column;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  width: 100%;
  padding: 1.875rem 0px 1rem;
}
.Auth-logo {
  text-align: center;
  font-family: "Playfair Display", serif;
  font-weight: 900;
  font-size: 40px;
  text-decoration: none;
  color: #000;
}
.signin__formwrapper {
  max-width: 20rem;
  padding: 2.5rem 2.1875rem;
  width: 100%;
}
.signin__heading {
  font-size: 1.125rem;
  font-weight: 400;
  font-family: "Lato", sans-serif;
  text-align: center;
  margin: 0px 0px 1.875rem;
  color: rgb(74, 74, 74);
}
.signin__textfield {
  margin-bottom: 1rem;
}
.signin__labelwrapper {
  position: relative;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  overflow: hidden;
  border-radius: 0.3125rem;
  border-width: 0.0625rem;
  border-style: solid;
  border-color: rgb(218, 220, 224);
  border-image: initial;
  transition: box-shadow 0.2s ease-in-out 0s, color 0.2s ease-in-out 0s,
    border 0.2s ease-in-out 0s;
}
.signin__labelwrapper:hover {
  box-shadow: rgba(0, 0, 0, 0.2) 0px 0.375rem 0.375rem -0.375rem;
}

.signin__input {
  -webkit-appearance: none;
  line-height: 1.2;
  width: 100%;
  box-sizing: border-box;
  resize: none;
  font-size: 1rem;
  height: 2.8125rem;
  letter-spacing: 0.03em;
  border-width: 0px;
  outline: none;
  padding: 1.125rem 0.625rem 0.1875rem;
}

.signin__label {
  color: rgb(155, 155, 155);
  font-size: 1rem;
  line-height: 1;
  font-weight: normal;
  letter-spacing: 0px;
  pointer-events: none;
  position: absolute;
  top: 0.9375rem;
  left: 0.5625rem;
  transition: all 200ms cubic-bezier(0, 0.22, 0.12, 1) 0s;
}
.signin__input:focus + .signin__label,
.signin__input:valid + .signin__label {
  box-sizing: border-box;
  line-height: 1;
  font-weight: 400;
  position: absolute;
  left: 0.5625rem;
  color: rgb(34, 64, 245);
  font-size: 0.625rem;
  letter-spacing: 0.05rem;
  top: 0.5625rem;
  transition: all 200ms cubic-bezier(0, 0.22, 0.12, 1) 0s;
}

.auth-btnwrapper {
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
  font-size: 1rem;
  margin: 1.5rem 0px 1rem;
}
.auth-btn {
  width: 100%;
  cursor: pointer;
  height: 2.8125rem;
  font-size: 0.875rem;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  position: relative;
  color: rgb(255, 255, 255);
  box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625rem 0.125rem 0px,
    rgba(0, 0, 0, 0.15) 0px 0.0625rem 0.1875rem 0px;
  background: none rgb(34, 64, 245);
  outline: 0px;
  border-width: 0px;
  border-style: initial;
  border-color: initial;
  border-image: initial;
  padding: 0px 1.5625rem;
  border-radius: 0.25rem;
  text-decoration: none;
  transition: background-color 0.28s cubic-bezier(0.4, 0, 0.2, 1) 0s,
    color 0.28s cubic-bezier(0.4, 0, 0.2, 1) 0s,
    box-shadow 0.28s cubic-bezier(0.4, 0, 0.2, 1) 0s;
}
.signin__footerwrapper {
  color: rgb(155, 155, 155);
  font-size: 0.75rem;
  display: flex;
  -webkit-box-pack: end;
  justify-content: flex-end;
  -webkit-box-align: baseline;
  align-items: baseline;
}
.signin__footerwrapper > p {
  line-height: 1;
  padding-right: 0.25rem;
  margin: 0px;
}
.signin__footerlink {
  font-size: 0.75rem;
  height: auto;
  cursor: pointer;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  color: rgb(34, 64, 245);
  background: none;
  outline: 0px;
  border-width: 0px;
  border-style: initial;
  border-color: initial;
  border-image: initial;
  border-radius: 0.25rem;
  text-decoration: none;
  padding: 0px;
  transition: color 0.28s cubic-bezier(0.4, 0, 0.2, 1) 0s;
}

/* Auth pages end */
